
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
	<div style="margin-left:auto;margin-right:auto">

		<img src="~/MyImages/HL_Learn_Icon_CMS-01.png" style="width:70%;height:60%;margin-right:180px" />

	</div>
